{% extends 'base-options.html' %}
{% block title %} Специальности {% endblock %}


{% block speciality-active %}
    active
{% endblock speciality-active %}

{% block page %}
<div class="d-grid gap-2 d-md-flex">
    <a class="btn btn-success" href="{% url 'speciality-new' %}">Добавить специальность</a>
</div>

<form method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="1">#</th>
                <th scope="col" colspan="1">Название специальности</th>
                <th scope="col" colspan="1">Аббревиатура специальности</th>
                <th scope="col" colspan="1">Код специальности</th>
                <th scope="col" colspan="1"></th>
                <th scope="col" colspan="1"><button class="btn btn-danger" type="submit">Удалить специальности</button></th>
            </tr>   

        </thead>

        <tbody>
            {% for te in specialityes %}
            <tr>
                <td scope="row"><input type="checkbox" name="{{ te.id }}"></td>
                <td scope="row">{{ te.title }}</td>
                <td scope="row">{{ te.abbreviation }}</td>
                <td scope="row">{{ te.code }}</td>
                <td scope="row"><a class="btn btn-success" href="{% url 'speciality-update' te.id %}">Редактировать</a></td>
                <td><a class="btn btn-danger" href="{% url 'speciality-delete' te.id %}">Удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}